.ace_editor {
  font-family: monospace;
}

.ace_scrollbar {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.ace_editor:hover .ace_scrollbar {
  opacity: 1;
}

.ace_scrollbar-h {
  display: none !important;
}

.log-editor-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.auto-scroll-fade::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(transparent, var(--background));
  pointer-events: none;
  opacity: 0.8;
}

.wrap-horizontal {
  .ace_content {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
  }
}
