{
    admin 0.0.0.0:2019
}

{$SITE_ADDRESS} {
    handle /api/v1/* {
        reverse_proxy nixopus-api:8443
    }

    handle /ws {
        reverse_proxy nixopus-api:8443
    }

    handle /ws/* {
        reverse_proxy nixopus-api:8443
    }

    handle /agent/* {
        reverse_proxy nixopus-agent:4090
    }

    handle {
        reverse_proxy nixopus-view:7443 {
            flush_interval -1
        }
    }
}
