version: "3.8"

services:
  nixopus-api:
    image: ghcr.io/${GITHUB_REPOSITORY:-raghavyuva/nixopus}-api:latest
    container_name: nixopus-api
    ports:
      - "${API_PORT:-8443}:8443"
    restart: unless-stopped
    env_file:
      - ${NIXOPUS_HOME:-/etc/nixopus}/source/api/.env

    volumes:
      - ./logs:/app/logs
      - ${NIXOPUS_HOME:-/etc/nixopus}:/etc/nixopus
      - /var/run/docker.sock:/var/run/docker.sock
      - ${NIXOPUS_HOME:-/etc/nixopus}/source/api/.env:/app/.env
    networks:
      - nixopus-network
    depends_on:
      nixopus-db:
        condition: service_healthy
        required: false

  nixopus-db:
    image: postgres:14-alpine
    container_name: nixopus-db
    restart: unless-stopped
    profiles:
      - local-db
    environment:
      - POSTGRES_USER=${USERNAME}
      - POSTGRES_PASSWORD=${PASSWORD}
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_HOST_AUTH_METHOD=trust
    command: ["postgres", "-c", "jit=0"]
    ports:
      - "${DB_PORT:-5432}:5432"
    volumes:
      - nixopus-db-data:/var/lib/postgresql/data
    networks:
      - nixopus-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${USERNAME} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  nixopus-view:
    image: ghcr.io/${GITHUB_REPOSITORY:-raghavyuva/nixopus}-view:latest
    container_name: nixopus-view
    build:
      args:
        - NEXT_PUBLIC_PORT=${NEXT_PUBLIC_PORT}
    ports:
      - "${NEXT_PUBLIC_PORT:-7443}:7443"
    restart: unless-stopped
    env_file:
      - ${NIXOPUS_HOME:-/etc/nixopus}/source/view/.env
    volumes:
      - ./logs:/app/logs
      - ${NIXOPUS_HOME:-/etc/nixopus}/source/view/.env:/app/.env
    networks:
      - nixopus-network

  nixopus-redis:
    image: redis:7-alpine
    container_name: nixopus-redis
    restart: unless-stopped
    ports:
      - "${REDIS_PORT:-6379}:6379"
    volumes:
      - ${NIXOPUS_HOME:-/etc/nixopus}/redis:/data
    command: redis-server --appendonly yes
    networks:
      - nixopus-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  nixopus-caddy:
    image: caddy:latest
    container_name: nixopus-caddy
    ports:
      - "${CADDY_ADMIN_PORT:-2019}:2019"
      - "${CADDY_HTTP_PORT:-80}:80"
      - "${CADDY_HTTPS_PORT:-443}:443"
    volumes:
      - ${NIXOPUS_HOME:-/etc/nixopus}/source/helpers/Caddyfile:/etc/caddy/Caddyfile
      - ${NIXOPUS_HOME:-/etc/nixopus}/caddy:/data
      - ${NIXOPUS_HOME:-/etc/nixopus}/caddy:/config
    command:
      [
        "caddy",
        "run",
        "--config",
        "/etc/caddy/Caddyfile",
        "--adapter",
        "caddyfile",
      ]
    networks:
      - nixopus-network

  supertokens:
    image: registry.supertokens.io/supertokens/supertokens-postgresql:latest
    depends_on:
      nixopus-db:
        condition: service_healthy
        required: false
    ports:
      - "${SUPERTOKENS_PORT:-3567}:3567"
    environment:
      POSTGRESQL_TABLE_NAMES_PREFIX: "supertokens_"
      POSTGRESQL_CONNECTION_URI: "${POSTGRESQL_CONNECTION_URI:-postgresql://${USERNAME}:${PASSWORD}@nixopus-db:5432/${DB_NAME}}"
    networks:
      - nixopus-network
    restart: unless-stopped
    healthcheck:
      test: >
        bash -c 'exec 3<>/dev/tcp/127.0.0.1/${SUPERTOKENS_PORT:-3567} && echo -e "GET /hello HTTP/1.1\r\nhost: 127.0.0.1:${SUPERTOKENS_PORT:-3567}\r\nConnection: close\r\n\r\n" >&3 && cat <&3 | grep "Hello"'
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  nixopus-network:
    driver: bridge

volumes:
  nixopus-db-data:
