@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

.VPHome::after,
.VPDoc::after {
  content: '';
  position: absolute;
  inset: 0;
  background:
    linear-gradient(to right, rgba(79, 79, 79, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(79, 79, 79, 0.1) 1px, transparent 1px);
  background-size: 14px 24px;
  mask-image: radial-gradient(ellipse 60% 50% at 50% 0%, #000 70%, transparent 110%);
  pointer-events: none;
}

/* Center align hero section */
.VPHero .container {
  text-align: center;
}

.VPHero .main {
  text-align: center;
}

.VPHero .name,
.VPHero .text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Cinzel Decorative', serif;
}

.VPHero .name {
  font-size: 2.45rem;
  line-height: 1.1;
}

.VPHero .text {
  font-size: 2.25rem;
  line-height: 1.2;
}

.VPHero .tagline {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* max-width: 600px; */
  display: block;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.VPHero .actions {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

/* Ensure the hero content is centered */
.VPHome .VPHero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.VPHome .VPHero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

OASidebarItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.OASidebarItem-badge {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 8px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  min-width: 40px;
  text-align: center;
}

.OAMethodBadge--get {
  background-color: #006507 !important;
  color: white;
}

.OAMethodBadge--post {
  background-color: #1f009a !important;
  color: white;
}

.OAMethodBadge--put {
  background-color: #7e5d00 !important;
  color: white;
}

.OAMethodBadge--delete {
  background-color: #640200 !important;
  color: white;
}

.OAMethodBadge--patch {
  background-color: #005744 !important;
  color: white;
}

.OASidebarItem-text {
  font-family: var(--vp-font-family-mono);
  font-size: 13px;
}

:root {
  --vp-c-brand: #9be935;
  --vp-c-brand-1: #9be935;
  --vp-c-brand-2: #00a85a;
  --vp-c-brand-3: #008f4d;
  --vp-c-brand-soft: rgba(0, 191, 99, 0.14);
}