PORT=7443
NEXT_PUBLIC_PORT=7443
API_URL=http://localhost:8080/api
WEBSOCKET_URL=ws://localhost:8080/ws
WEBHOOK_URL=
AUTH_SERVICE_URL=http://localhost:9090
PASSWORD_LOGIN_ENABLED=true

AGENT_URL=
NEXT_PUBLIC_AGENT_URL=
BASE_PATH=
ASSET_PREFIX=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_REDIRECT_URL=
